/Acceso.class
/And.class
/ArrayInit.class
/Call.class
/Distinto.class
/Div.class
/E.class
/EBin.class
/EMono.class
/Igual.class
/Indice.class
/ListInit.class
/Maq.class
/Mayor.class
/Menor.class
/Meq.class
/Mod.class
/Mul.class
/Not.class
/Or.class
/Resta.class
/Signo.class
/Suma.class
